/* Define some common color variables for easier maintenance */
:root {
  --main-bg-color: rgb(41, 41, 41);
  --text-color: rgb(255, 255, 255);
  --accent-color: #ff3d00;
  --light-text-color: rgb(126, 128, 152);
}

/* Header Upper Box Style */
.header-upper-box {
  width: 100%;
  padding: 10px 0;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.header-box .my-container-1 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.tobar-left {
  width: 100%;
  display: flex;
}

.tobar-left ul,
.tobar-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.tobar-left ul li {
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
  border-right: 2px solid var(--light-text-color);
  color: var(--light-text-color);
}

.tobar-left .logo-1 {
  width: 20%;
}

.tobar-left .logo-2 {
  width: 26%;
}


.tobar-left img {
  width: 100%;
}

.tobar-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tobar-right .help-number {
  width: auto;
}

.help-number strong {
  font-size: 12px;
  color: white;
}

.help-number a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 10px;
}

.help-number span {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  padding-left: 5px;
}

/* Header Middle Layer Style */
.header-box .my-container-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header-content {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.header-content .midbar-left {
  width: 40%;
  display: flex;
}

.midbar-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.midbar-left .startup-cell-logo {
  width: 35%;
  min-width: 100px;
}

.midbar-left .logo-2 {
  width: 21%;
  min-width: 75px;
}

.midbar-left ul li {
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
  border-right: 1px solid var(--light-text-color);
  color: var(--light-text-color);
}

.midbar-left ul li a {
  font-size: 14px;
}

.midbar-left img {
  width: 100%;
}

.midbar-right {
  width: 50%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midbar-right .signup-register-text-button {
  width: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20%;
  visibility: hidden;
}

.signup-register-text-button span {
  font-size: 14px;
  text-decoration: underline;
  color: var(--accent-color);
  font-weight: bolder;
  cursor: pointer;
}

/* Navigation links */
.header-nav-box {
  width: 100%;
  background-color: #fff;
  padding: 10px 0 0;
}

.my-container-3 {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.nav-list a {
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-weight: 510;
  padding-bottom: 20px;
}

.nav-list a:hover {
  color: var(--accent-color);
  border-radius: 5px;
}

/* Dropdown menu */
.dropdown {
  opacity: 0;
  transform: translateY(-10px);
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 100%;
  width: 250px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.nav-list li:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  height: auto;
  pointer-events: auto;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li a {
  display: block;
  padding: 18px 15px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.dropdown ul li a:hover {
  color: var(--accent-color);
  background: transparent;
}
