.about-startup-container {
  background-image: url("/public/images/backgrounds/pngtree-city-__cartoon-building-gradient-background-picture-image_1964569.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 10px;
  color: white;
  min-height: 70vh;
  width: 100%;
  margin-top: 200px;
  box-sizing: border-box;
}

h1 {
  color: rgb(20, 20, 19);
  position: relative;
  padding: 10px;
  font-size: 2em;
}

.content {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.steps {
  padding: 20px;
}
.steps ul {
  color: black;
}

.steps ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.steps li {
  margin-bottom: 15px;
}

.steps li span {
  cursor: pointer;
  color: black;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: 1px solid #2a2828;
  padding: 10px 0;
  font-size: 14px;
}

.steps li a:hover {
  color: #ff4500;
}
.step {
  display: flex;
}
.box {
  display: flex;
  border-left: 10px solid #e1541d;
}

.box h2{
  margin: 0;
  padding: 0;
  color: black;
}
.image-explore {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px;
}
.explore-section {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 20px;
}

.explore-button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #ff6600;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 15px;
}

.startup-info-card-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.startup-info-card-section .startup-info-cards {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.startup-info-cards .card {
  height: 300px;
  width: 250px;
  border-color: rgb(19, 18, 18);
  border-width: 20px;
  background-color: white;
  border-radius: 2%;
  border-width: 2px;
  border: 1px solid rgb(4, 4, 4);
  box-sizing: border-box;
  padding: 20px;
}

.card h3 {
  color: orangered;
  font-weight: bold;
  font-size:18px;
  text-align: center;
}

.card p{
  color: black;
  font-size: 13px;
}
