.mentors-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mentors-container h2 {
  font-size: 2em;
}
.mentors-gallery {
  width: 80%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  overflow: hidden; /* Hide overflowing content */
}

.mentors-gallery .mentor-slider {
  display: flex;
  gap: 100px;
  width: max-content;
  animation: scroll 20s linear infinite;
  animation-play-state: running;
}

.mentors-gallery .mentor-slider:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start from the right side */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side */
  }
}

.mentor-slider .mentor-slide {
  width: 180px;
  height: 230px;
  background-image: url(/public/images/backgrounds/abstract-bubbles-background-with-gradient-line-and-blue-color-good-for-background-banner-or-layout-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  gap: 20px;
  cursor: pointer;
}

.mentor-slide h4 {
  color: #ff3d00;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.mentors-gallery img {
  width: 90px;
  height: 90px;
  margin: 0 20px;
  border-radius: 60px;
  cursor: pointer;
  border: 1px solid #ff3d00;
}

.mentor-slide .mentor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.mentor-details span {
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.mentor-details .mentor-email {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.mentor-email a {
  text-decoration: none;
  font-size: 11px;
}

@media (max-width: 480px) {
  .mentor-slider .mentor-slide {
    width: 160px;
    height: 200px;
    background-image: url(/public/images/backgrounds/abstract-bubbles-background-with-gradient-line-and-blue-color-good-for-background-banner-or-layout-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
  }

  .mentor-slide h4 {
    color: #ff3d00;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .mentors-gallery img {
    width: 60px;
    height: 60px;
  }


  .mentor-details span {
    font-size: 10px;
  }

  .mentor-details .mentor-email {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .mentor-email a {
    text-decoration: none;
    font-size: 10px;
  }
}
