.mentors-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 1200px;
    min-height: 400px;
    text-align: center;
    overflow: hidden; 
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .mentors-gallery {
    margin-top: 7%;
    display: flex;
    gap: 10px;
    animation: scroll 15s linear infinite ; 
  }
  
  .mentors-gallery img {
    width: 150px; 
    height: auto;
    margin: 0 20px; 
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  