.app-container {
  width: 100%;
  height: calc(100vh - 320px);
  text-align: center;
  padding: 20px;
  position: relative;
  background-image: url("/public/images/backgrounds/360_F_958781294_VSkdoH0BoRdSnlmk94fKpB2DdmGDujYA.jpg");
  background-size: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.notice-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  overflow: hidden;
  animation: scroll-horizontal 25s linear infinite;
}

.notice {
  font-size: 1.1em;
  font-weight: 550;
  color: #030303;
  text-decoration: none;
}

.notice:hover {
  text-decoration: underline;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-poster {
  border-radius: 10px;
  margin: 25px auto;
  width: 60%;
  height: 45vh;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.poster-slider {
  gap: 5px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.poster-slider img {
  object-fit: cover;
  width: 12%;
  height: 120px;
  overflow: hidden;
  border-radius: 7px;
}

.small-poster {
  cursor: pointer;
  border: 3px solid transparent;
  transition: border 0.3s ease-in-out;
}

.small-poster:hover {
  border: 3px solid #007bff;
}

.active {
  border: 3px solid #007bff;
}

.app-container .explore-button {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 18px 38px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
}

.app-container .explore-button:hover {
  background-color: #0056b3;
}
