.about-us-page {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about-us-main-poster-section {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url(/public/images/backgrounds/person-think.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-main-poster-section .poster-heading {
  margin-left: 8%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-height: 250px;
  gap: 10px;
}

.poster-heading h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.poster-heading .verticle-line {
  height: 70%;
  width: 30px;
  background-color: orangered;
}

.about-us-main-poster-section .poster-message-content {
  margin-left: 8%;
  margin-top: 1%;
  width: 40%;
  font-size: 18px;
}

.about-us-startup-cell-section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-image: url(/public/images/backgrounds/transparent-wavy-lines-white-backgroundabstract-waves-background_206325-1986.avif);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 20px;
}

.about-us-startup-cell-section .about-us-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  margin-top: 50px;
}

.about-us-details .details-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 300px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;

  /* Gradient border trick */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #f06, #00f, #0ff) border-box;
  border: 4px solid transparent;

  box-shadow: 0 0 10px 3px rgba(76, 208, 235, 0.5),
    0 0 10px 3px rgba(0, 0, 255, 0.5);
}

.about-us-details .details-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; /* Ensure it matches the parent’s border-radius */
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  pointer-events: none; /* Allow interaction with the card */
}

.details-card p {
  color: black;
}

.about-us-mission-section {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(/public/images/backgrounds/black-wavy-lines-abstract-background_78370-2991.avif);
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  gap: 20px;
}

.about-us-mission-section .mission-details {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  gap: 40px;
}

.mission-details .mission-details-circle {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mission-details .mission-details-circle:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}

.about-us-team-section {
  position: relative; /* Required for the pseudo-element to be positioned relative to this container */
  width: 100%;
  height: 85vh;
  gap: 40px;
  background-image: url(/public/images/backgrounds/light-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.about-us-team-section::after {
  content: ""; /* Required for the pseudo-element to display */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    98,
    207,
    250,
    0.6
  ); /* Adjust the alpha value for transparency */
  z-index: 1; /* Ensures the overlay is on top of the background */
}

.about-us-team-section .team-section-heading {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 3;
  gap: 0;
  margin-top: 50px;
}

.team-section-heading span {
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: 32px;
}

.about-us-team-section .team-list-container {
  width: 75%;
  height: 500px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
}

.about-us-testimonial-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-image: url(/public/images/backgrounds/design-element-wavy.avif);
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-slide {
  box-shadow: none; /* Remove shadow from the slides */
}

.about-us-testimonial-section .testimonial-slider {
  width: 70%;
  box-shadow: none;
}

.about-us-help-section {
  width: 100%;
  min-height: 90vh;
  background-image: url(/public/images/backgrounds/rocket-back-help.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about-us-help-section .faq-menu {
  width: 50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

@media (max-width: 480px) {
  .about-us-main-poster-section {
    width: 100%;
    height: calc(40vh);
    background-position: center;
  }

  .about-us-main-poster-section .poster-heading {
    margin-top: 50px;
    width: 150px;
    max-height: 250px;
  }

  .poster-heading h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  .poster-heading .verticle-line {
    height: 90%;
    width: 20px;
    background-color: orangered;
  }

  .about-us-main-poster-section .poster-message-content {
    width: 40%;
    font-size: 12px;
  }

  .about-us-startup-cell-section {
    height: auto;
    margin-top: 30px;
    padding: 0;
    background-size: contain;
    background-repeat: repeat;
  }

  .about-us-startup-cell-section .about-us-details {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-top: 30px;
    margin-left: 0;
  }

  .about-us-details .details-card {
    width: 280px;
    height: 200px;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px;
    box-sizing: border-box;
  }
  .details-card p {
    color: black;
    font-size: 12px;
  }

  .about-us-mission-section {
    height: auto;
    margin-top: 50px;
    display: flex;
    background-image: url(/public/images/backgrounds/black-wavy-lines-abstract-background_78370-2991.avif);
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    gap: 10px;
  }

  .about-us-mission-section .mission-details {
    padding: 20px;
    gap: 20px;
  }

  .mission-details .mission-details-circle {
    width: 80px;
    height: 80px;
    font-size: 10px;
  }

  .about-us-team-section {
    height: auto;
    gap: 30px;
    background-position: center;
  }

  .team-section-heading span {
    font-size: 18px;
  }

  .about-us-team-section .team-list-container {
    width: 85%;
    height: auto;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
  }

  .about-us-testimonial-section {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
  }

  .about-us-testimonial-section .testimonial-slider {
    width: 100%;
  }
}
