.initiative-poster-section {
  width: 100%;
  height: 60vh;
  background-image: url(/public/images/backgrounds/uozk2YSyyI4RNP1tEOA7.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 40px;
}

.initiative-poster-section h1 {
  color: #ff3d00;
  margin: 0;
  padding: 0;
}

.initiative-poster-section p {
  width: 30%;
  color: white;
  margin-left: 40px;
  margin: 20px 0px;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
}

.initiative-context-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-image: url(/public/images/backgrounds/abstract-gradient-marketing-flyer-business-card-website-poster-brochure-white-background_603278-44.avif);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.initiative-context-section h1 {
  margin: 0;
}

.initiative-context-section p {
  font-size: 18px;
  width: 75%;
  text-align: center;
}

.initiative-context-section .about-initiative-container {
  width: 80%;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.intiative-list-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.intiative-list-section .initiative-box-wrapper {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 40px;
}

.initiative-box-wrapper .initiative-box{
  width: 300px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 5px;
  border: 2px solid gold;
  box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.5),
    0 0 10px 3px rgba(255, 215, 0, 0.5);
  transition: all .3s ease;
}

.initiative-box:hover{
  height: 250px;
  justify-content: inherit;
  align-items: center;
}

.initiative-box .initiative-box-details {
  opacity: 0; /* Start hidden with opacity */
  position: absolute;
  transition: transform 0.5s ease; /* Add transitions for opacity and movement */
  transform: translateY(20px); /* Move down slightly */
}

.initiative-box:hover .initiative-box-details {
  width: 100%;
  opacity: 1; /* Fade in */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transform: translateY(0); /* Reset position */
  bottom: 10px;
}

.initiative-box-details p{
  font-size: 12px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.initiative-box-details button{
  width: 50%;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #ff3d00;
  color: white;
  border-radius: 5px;
}

.initiative-box-details button:hover{
  background-color: #ff3c00d6;
  box-shadow: 0 0 10px 3px rgba(240, 79, 5, 0.5),
  0 0 10px 3px rgba(255, 215, 0, 0.5);
}


@media (max-width:480px) {
  .initiative-poster-section {
    height: auto;
    background-position: left;
    padding: 20px;
  }
  
  .initiative-poster-section h1 {
    font-size: 16px;
  }
  
  .initiative-poster-section p {
    width: 60%;
    color: white;
    margin-left: 40px;
    margin: 20px 0px;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
  }
  
  .initiative-context-section {
    width: 100%;
    margin-top: 50px;
  }
  
  .initiative-context-section h1 {
    font-size: 18px;
  }
  
  .initiative-context-section p {
    font-size: 11px;
    width:95%;
  }
  
  .initiative-context-section .about-initiative-container {
    width: 100%;
    padding: 10px;
    margin: 40px 10px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 40px;
  }
  
  .intiative-list-section {
    margin-top: 50px;
  }
  
  .intiative-list-section .initiative-box-wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, auto);
    row-gap: 40px;
    margin-top: 40px;
  }
  
  .initiative-box-wrapper .initiative-box{
    width: 100%;
  }
  
  .initiative-box:hover{
    height: 250px;
    justify-content: inherit;
    align-items: center;
  }
  
  .initiative-box .initiative-box-details {
    display: none;
    position: relative;
    transition: transform 0.5s ease; /* Add transitions for opacity and movement */
  }
  
  .initiative-box:hover .initiative-box-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .initiative-box-details p{
    font-size: 12px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .initiative-box-details button{
    width: 50%;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #ff3d00;
    color: white;
    border-radius: 5px;
  }
  
  .initiative-box-details button:hover{
    background-color: #ff3c00d6;
    box-shadow: 0 0 10px 3px rgba(240, 79, 5, 0.5),
    0 0 10px 3px rgba(255, 215, 0, 0.5);
  }
  
}